.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
}

.App-content {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 10%;
  margin-top: 15vh; 
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}
